<div class="container container-fluid" style="min-height: 100vh">
  <div class="row cardContainer">
    <div class="col">
      <div class="row">
        <div class="col logo-container">
          <img src="../../../assets/img/tript.png" style="height: 150px" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="label" for="email">Username or Email address</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="username"
              id="email"
              (focus)="errorMessage = false"
            />
          </div>
          <div class="form-group">
            <label class="label" for="password">Password</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="password"
              id="password"
              (focus)="errorMessage = false"
            />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                Username or password incorrect!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div
                (click)="login()"
                type="submit"
                class="btn btn-success signupBtn"
              >
                <div *ngIf="loading" class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <p class="p-0 m-2 mx-3">Log In</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
