.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.cardContainer {
  padding: 20px;
  border: 2px solid rgba(204, 204, 204, 0.151);
  border-radius: 10px;
  width: 40%;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0px 2px 0px,
    inset rgba(255, 255, 255, 0.04) 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.25) 0px 2px 10px;
}
.title-container {
  display: flex;
  justify-content: center;
}
.label {
  font-size: 12px;
}
.signupBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
}
