<footer class="footer">
  <div class="container-fluid">
    <div class="row row-container">
      <div class="col-md-6">Trip Tracker © 2021 | All rights reserved</div>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <a target="_blank" rel="noopener noreferrer">
              <i class="fa fa-instagram" style="font-size: 40px"></i>
            </a>
          </div>
          <div class="col">
            <a target="_blank" rel="noopener noreferrer">
              <i class="fa fa-facebook" style="font-size: 40px"></i>
            </a>
          </div>
          <div class="col">
            <a target="_blank" rel="noopener noreferrer">
              <i class="fa fa-youtube" style="font-size: 40px"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
