.custom-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white !important;
  transition: background-color ease-out 0.3s;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0px 2px 0px,
    inset rgba(255, 255, 255, 0.04) 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.25) 0px 2px 10px;
}

.nav-link-btn {
  margin: 0 5px;
  border-radius: 15px;
  padding: 5px 20px;
  color: white !important;
}

.nav-link-btn:hover {
  background-color: white;
  color: #218838 !important;
}
.btn:focus {
  outline: none;
}
