.greeting-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px -5px 15px -5px #888;
  z-index: 1;
  min-height: 100vh;
}
.label {
  font-size: 12px;
}
.radio-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
