<div
  *ngIf="user"
  class="container-fluid"
  style="padding-top: 150px; min-height: 100vh"
>
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-1">
                      <div class="mx-auto" style="width: 140px">
                        <div
                          class="
                            d-flex
                            justify-content-center
                            align-items-center
                            rounded
                          "
                          style="height: 140px"
                        >
                          <img
                            class="image-fluid"
                            [src]="imageUrl"
                            style="
                              height: 150px;
                              width: 150px;
                              border-radius: 50%;
                            "
                          />
                        </div>
                        <div
                          class="form-group"
                          style="margin-top: -1.5rem; margin-left: 0.4rem"
                        >
                          <a>
                            <i class="fa fa-camera p-1 cam"> </i>
                            <input
                              type="file"
                              class="input-file"
                              (change)="handlefileInput($event.target.files)"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                        col
                        d-flex
                        flex-column flex-sm-row
                        justify-content-between
                      "
                      style="margin: 0"
                    >
                      <div class="text-center text-sm-left mb-2 mb-sm-0"></div>
                      <div class="text-center text-sm-right">
                        <div class="text-muted">
                          <button
                            type="button"
                            class="btn btn-success btn-sm"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"
                          >
                            Edit Password
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content pt-0">
                    <div class="tab-pane active">
                      <div class="container">
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Full Name</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editName"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="name"
                              [(ngModel)]="user.firstName"
                              style="width: 10rem; margin-top: -0.2rem"
                              #name="ngModel"
                            />
                            <input
                              *ngIf="editName"
                              class="form-control d-inline mb-3 mr-1"
                              type="text"
                              name="surname"
                              [(ngModel)]="user.lastName"
                              style="width: 10rem; margin-top: -0.2rem"
                              #surname="ngModel"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editName"
                            >
                              <span>
                                {{ user?.firstName | titlecase }}
                                {{ user?.lastName | titlecase }}</span
                              >
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm mx-2"
                              (click)="onEditName()"
                            >
                              {{ editName ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editName"
                              type="submit"
                              class="btn btn-success btn-sm"
                              (click)="updateName()"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <!-- <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Username</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editUsername"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="username"
                              [(ngModel)]="user.username"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editUsername"
                            >
                              <span>
                                {{ user.username }}
                              </span>
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editUsername ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editUsername"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div> -->
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center"><p>Email</p></div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editEmail"
                              class="form-control d-inline mr-1 mb-3 w-75"
                              type="text"
                              name="email"
                              [(ngModel)]="user.email"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editEmail"
                            >
                              <span> {{ user.email }}</span>
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm mx-2"
                              style="margin-top: -0.2rem"
                              (click)="onEditEmail()"
                            >
                              {{ editEmail ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editEmail"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                              (click)="updateEmail()"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Address</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editAddress"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="address"
                              [(ngModel)]="user.address"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editAddress"
                            >
                              {{ user.address }}
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                              (click)="onEditAddress()"
                            >
                              {{ editAddress ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editAddress"
                              class="btn btn-success btn-sm mx-2"
                              style="margin-top: -0.2rem"
                              (click)="updateAddress()"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Phone Number</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editPhone"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="phone"
                              [(ngModel)]="user.phoneNumber"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editPhone"
                            >
                              {{ user.phoneNumber }}
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm mx-2"
                              style="margin-top: -0.2rem"
                              (click)="onEditPhone()"
                            >
                              {{ editPhone ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editPhone"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                              (click)="updatePhone()"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="register-form" role="form" class="form">
          <div class="form-group">
            <div class="input-group mb-3">
              <input
                id="password"
                name="password"
                placeholder="Current Password"
                class="form-control"
                required
                (focus)="incorrectPassword = false"
                type="password"
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="oldPassword"
              />
            </div>
            <div class="input-group mb-3">
              <input
                id="newpassword"
                name="newpassword"
                placeholder="New Password"
                class="form-control"
                type="password"
                (focus)="invalidPasswordMatch = false"
                required
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="newPassword"
              />
            </div>
            <div class="input-group">
              <input
                id="repassword"
                name="repassword"
                placeholder="Retype Password"
                class="form-control"
                required
                (focus)="invalidPasswordMatch = false"
                type="password"
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="renewPassword"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="incorrectPassword"
            >
              Your current password is incorrect
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="invalidPasswordMatch"
            >
              Passwords don't match
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updatePassword()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
