<div class="container container-fluid">
  <div class="row cardContainer">
    <div class="col">
      <div class="row titleContainer">
        <h2 class="title">Login</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="label" for="email">Username or Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label class="label" for="password">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success signupBtn">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
