<div class="container-fluid" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col greeting-container">
          <div class="row">
            <h3 *ngIf="user">Hello {{ user.firstName | titlecase }}</h3>
          </div>
          <div class="row">
            <hr width="200px" />
          </div>
          <div class="row">
            <div class="form-group">
              <label class="label" for="email">Enter your total budget </label>
              <input type="number" [(ngModel)]="budget" class="form-control" id="budget" min="1" />
            </div>
          </div>
          <div class="row">
            <hr width="200px" />
          </div>
          <div class="row">
            <div class="form-group">
              <label class="label" for="days">Enter days you want to spend
              </label>
              <input type="number" [(ngModel)]="days" class="form-control" id="days" min="1" />
            </div>
          </div>
          <!-- <div class="row">
            <div class="col radio-container">
              <label class="label">Choose a range</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios1"
                  value="option1"
                  checked
                />
                <label class="form-check-label" for="exampleRadios1">
                  Low
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios2"
                  value="option2"
                />
                <label class="form-check-label" for="exampleRadios2">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios3"
                  value="option3"
                />
                <label class="form-check-label" for="exampleRadios3">
                  High
                </label>
              </div>
            </div>
          </div> -->
          <div class="row">
            <hr width="200px" />
          </div>
          <div class="row">
            <div class="form-group">
              <label class="label" for="email">Select the currency </label>
              <select class="form-control" [(ngModel)]="currency" name="currency" style="width: 100%">
                <option value="TND">TND</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="USD">USD</option>
              </select>
            </div>
          </div>
          <div class="row">
            <hr width="200px" />
          </div>
          <div class="row">
            <button (click)="onGetSuggestion()" class="btn btn-success btn-lg" style="width: 100%">
              <ngx-spinner size="medium" color="#fff" type="ball-scale-multiple">
              </ngx-spinner>
              Search
            </button>
          </div>
          <div class="row"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 p-0">
      <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
          [title]="marker.title" [options]="marker.options">
        </map-marker>
      </google-map>
    </div>
  </div>
</div>
