<div
  class="container container-fuild"
  style="min-height: 100vh; padding-top: 60px"
>
  <div class="row" style="margin-bottom: 60px">
    <div class="col-md-6 logo-container">
      <img src="../../../assets/img/tript.png" style="height: 300px" />
    </div>
    <div class="col-md-6 description-container">
      <h3>A More Rewarding Way To Travel</h3>
      <p>
        Exploring Tourism is one of the most reliable and experienced travel
        agency. It helps you plan your trip and helps you gain an enriching life
        experience. With expert travel agent, it offers customized tour packages
        according to your requirements and budget. Pack your bags and be ready
        to explore the world with us.
      </p>
      <hr width="200px" />
    </div>
  </div>
  <div class="row" style="margin-bottom: 60px">
    <div class="col-md-6 description-container" style="padding-top: 40px">
      <h3>Add more adventure to your life</h3>
      <p>
        Travel is a force for good, and we are a force for travel. We believe
        travel can bring good into the world, and so our mission is to power
        global travel for everyone, everywhere.
      </p>
      <hr width="200px" />
    </div>
    <div class="col-md-6 logo-container">
      <img src="../../../assets/img/test.png" style="height: 200px" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 slogan">
      <h2>TRAVEL SMART. ACHIEVE MORE.</h2>
      <p>
        Get solutions for business travel that help you save time, money and
        stress.
      </p>
    </div>
  </div>
</div>
