<div class="container-fluid" style="padding-top: 150px">
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-1">
                      <div class="mx-auto" style="width: 140px">
                        <div
                          class="d-flex justify-content-center align-items-center rounded"
                          style="
                            height: 140px;
                            background-color: rgb(233, 236, 239);
                          "
                        >
                          <img
                            class="image-fluid"
                            [src]="imageUrl"
                            *ngIf="!loading"
                          />
                        </div>
                        <div
                          class="form-group"
                          style="margin-top: -1.5rem; margin-left: 0.4rem"
                        >
                          <a>
                            <i class="fa fa-camera p-1"></i>
                            <input type="file" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col d-flex flex-column flex-sm-row justify-content-between"
                      style="margin: 0"
                    >
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                          <span *ngIf="!loading"
                            >{{ name | titlecase }}
                            {{ surname | titlecase }}</span
                          >
                        </h4>
                        <p class="mb-0">
                          <span *ngIf="!loading">@{{ username }}</span>
                        </p>
                        <!-- <div class="text-muted">
                          <small>Last seen 2 hours ago</small>
                        </div> -->
                        <!-- <div class="form-group">
                          <div class="btn btn-mdb-color btn-rounded btn-block">
                            <span>Selectionner une photo de profile</span>
                            <input type="file" />
                          </div>
                        </div> -->
                      </div>
                      <div class="text-center text-sm-right">
                        <span
                          class="badge badge-secondary"
                          *ngIf="profileuser?.access === 'a' && !loading"
                          >Chef d'agence</span
                        >
                        <span
                          class="badge badge-secondary"
                          *ngIf="profileuser?.access === 'u'!; loading"
                          >Utilisateur</span
                        >
                        <div class="text-muted">
                          <small *ngIf="!loading"
                            >Join Date:
                            {{
                              profileuser?.joindate
                                | date: "longDate":"":"FR-fr"
                            }}</small
                          >
                        </div>
                        <div class="text-muted">
                          <button
                            type="button"
                            class="btn btn-success btn-sm"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"
                          >
                            Edit Password
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content pt-0">
                    <div class="tab-pane active">
                      <div class="container">
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Full Name</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editName"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="name"
                              [(ngModel)]="user.firstName"
                              style="width: 10rem; margin-top: -0.2rem"
                              #name="ngModel"
                            />
                            <input
                              *ngIf="editName"
                              class="form-control d-inline mb-3 mr-1"
                              type="text"
                              name="surname"
                              [(ngModel)]="user.lastName"
                              style="width: 10rem; margin-top: -0.2rem"
                              #surname="ngModel"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editName"
                            >
                              <span>
                                {{ user?.firstName | titlecase }}
                                {{ user?.lastName | titlecase }}</span
                              >
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm mx-2"
                              (click)="onEditName()"
                            >
                              {{ editName ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editName"
                              type="submit"
                              class="btn btn-success btn-sm"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Username</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editUsername"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="username"
                              [(ngModel)]="user.username"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editUsername"
                            >
                              <span>
                                {{ user.username }}
                              </span>
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editUsername ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editUsername"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center"><p>Email</p></div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editEmail"
                              class="form-control d-inline mr-1 mb-3 w-75"
                              type="text"
                              name="email"
                              [(ngModel)]="user.email"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editEmail"
                            >
                              <span> {{ user.email }}</span>
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editEmail ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editEmail"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Adresse</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editAddress"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="address"
                              [(ngModel)]="user.address"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editAddress"
                            >
                              {{ user.address }}
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editAddress ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editAddress"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Numéro de téléphone</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editPhone"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="phone"
                              [(ngModel)]="user.phoneNumber"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editPhone"
                            >
                              {{ user.phoneNumber }}
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editPhone ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editPhone"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                        <hr />
                        <!-- <div class="row" style="margin-bottom: -1rem">
                          <div class="col-md-4 text-center">
                            <p>Date De Naissance</p>
                          </div>
                          <div class="col-md-4 text-center">
                            <input
                              *ngIf="editBirthday"
                              class="form-control d-inline mr-1 mb-3"
                              type="text"
                              name="birth"
                              [(ngModel)]="user.birthDate"
                              style="width: 10rem; margin-top: -0.2rem"
                            />
                            <h6
                              class="py-1 mb-3"
                              style="margin: 0"
                              *ngIf="!editBirthday"
                            >
                              {{ user.birthDate }}
                            </h6>
                          </div>
                          <div class="col-md-4 text-center">
                            <button
                              class="btn btn-secondary btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              {{ editBirthday ? "Cancel" : "Edit" }}
                            </button>
                            <button
                              *ngIf="editBirthday"
                              class="btn btn-success btn-sm"
                              style="margin-top: -0.2rem"
                            >
                              Save
                            </button>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Changer Mot de Passe
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="register-form" role="form" class="form">
          <div class="form-group">
            <div class="input-group">
              <input
                id="password"
                name="password"
                placeholder="Mot de Passe Actuel"
                class="form-control"
                required
                type="password"
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="oldPassword"
              />
            </div>
            <div class="input-group">
              <input
                id="newpassword"
                name="newpassword"
                placeholder="Taper Le Nouveau Mot de Passe"
                class="form-control"
                type="password"
                required
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="newPassword"
              />
            </div>
            <div class="input-group">
              <input
                id="repassword"
                name="repassword"
                placeholder="Retaper Le Mot de Passe"
                class="form-control"
                required
                type="password"
                style="
                  border: 1px solid rgba(167, 167, 167, 0.527);
                  border-radius: 2px;
                "
                [(ngModel)]="renewPassword"
              />
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="invalidPasswordMatch"
            >
              Voulez vous retaper le meme mot de passe
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="invalidPasswordMatch"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
