<div class="container container-fluid">
  <div class="row cardContainer">
    <div class="col">
      <div class="row titleContainer">
        <h2 class="title">Sign UP</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">First Name</label>
                <input type="text" class="form-control" id="firstName" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Last Name</label>
                <input type="text" class="form-control" id="lastName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Email</label>
                <input type="email" class="form-control" id="email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Username</label>
                <input type="email" class="form-control" id="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Password</label>
                <input type="password" class="form-control" id="password" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label" for="email">Re Password</label>
                <input type="password" class="form-control" id="repassword" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success signupBtn">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
